.intro
  .wrapper
    .desc
      Поссорились с любимым человеком?

    .about
      Не переживайте, это легко исправить. Мы помирили уже более трех сотен пар и не собираемся на этом останавливаться.
      Закажите консультацию и мы поможем вам преодолеть эту проблему.


    .top-form
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
      %button#order-button
        Заказать консультацию

    .samples
      .sample
        Нашему методу
        %span.pink 2 года


      .sample
        Мы помирили
        %span.pink 322
        пары


.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!